streamlit
lancedb
openai
python-dotenv
pypdf
langchain-text-splitters
pyarrow
langchain
langchain_openai
langchain_community
uuid
datetime
tiktoken
tavily-python
PyPDF2
langdetect
camelot-py[cv]
ghostscript
opencv-python
pytesseract
Pillow
docx2txt
pdfplumber
matplotlib
sympy
plotly
python-docx
colorama
PyMuPDF
python-dateutil
scikit-learn
pandas
numpy